@model ContactUpdateViewModel

<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create Contact</h4>
                <form class="forms-sample" method="post" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Adress">Adress</label>
                        <input asp-for="Adress" class="form-control" placeholder="Adress">
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Number1">Number-1</label>
                        <input asp-for="Number1" class="form-control" placeholder="Number-1">
                        <span asp-validation-for="Number1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Number2">Number-2</label>
                        <input asp-for="Number2" class="form-control" placeholder="Number-2">
                        <span asp-validation-for="Number2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website">Website</label>
                        <input asp-for="Website" class="form-control" placeholder="Website">
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>                    
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}



