@model CourseUpdateViewModel

<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Update Course</h4>
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <input asp-for="Content" class="form-control" placeholder="Content">
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About">About</label>
                        <input asp-for="About" class="form-control" placeholder="About">
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apply">Apply</label>
                        <input asp-for="Apply" class="form-control" placeholder="Apply">
                        <span asp-validation-for="Apply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Certification">Certification</label>
                        <input asp-for="Certification" class="form-control" placeholder="Certification">
                        <span asp-validation-for="Certification" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reply">Reply</label>
                        <input asp-for="Reply" class="form-control" placeholder="Reply">
                        <span asp-validation-for="Reply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GeginningTime">Geginning Time</label>
                        <input asp-for="GeginningTime" class="form-control" placeholder="GeginningTime">
                        <span asp-validation-for="GeginningTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration">Duration</label>
                        <input asp-for="Duration" class="form-control" placeholder="Duration">
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassDuration">ClassDuration</label>
                        <input asp-for="ClassDuration" class="form-control" placeholder="ClassDuration">
                        <span asp-validation-for="ClassDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Level">Level</label>
                        <input asp-for="Level" class="form-control" placeholder="Level">
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language">Language</label>
                        <input asp-for="Language" class="form-control" placeholder="Language">
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentsCount">StudentsCount</label>
                        <input asp-for="StudentsCount" class="form-control" placeholder="StudentsCount">
                        <span asp-validation-for="StudentsCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Assesments">Assesments</label>
                        <input asp-for="Assesments" class="form-control" placeholder="Assesments">
                        <span asp-validation-for="Assesments" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fee">Fee</label>
                        <input asp-for="Fee" class="form-control" placeholder="Fee">
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input asp-for="Image" class="form-control" placeholder="Sekil secin" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div>
                        <img src="~/assets/images/course/@Model.ImageUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" placeholder="Category"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}




